<div class="content" role="main">
  <div class="d-flex position-relative highlight-card rounded-pill">
    <i class="{{Menu.icon}}  flex-shrink-0 me-3"></i>
    <div class="ml-2 align-self-center text-center pl-5 pr-5">
      <h3 class="mt-0 mb-0">{{ Menu.title }}</h3>
      <p> {{ Menu.comment }} </p>
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let item of Menu.links" class="card">
      <a *ngIf="item.link" [routerLink]="item.link" routerLinkActive="router-link-active">
        <span [innerHTML]="icon(item)"></span>
        <div>{{item.title}}</div>
      </a>
      <a *ngIf="item.href" href="{{item.href}}" target="{{item.target}}">
        <span class="fs-4" [innerHTML]="icon(item)"></span>
        <div>{{item.title}}</div>
      </a>
    </div>
  </div>
</div>
