<div ngbDropdown #myDrop="ngbDropdown" hidden="true" class="float-end" style="color: #ededed;">
  <div class=" d-flex align-items-center h-100" id="dropdownForm1" ngbDropdownToggle>
    <i class="fa-regular fa-comment fa-2x "></i>
    <!--div class="align-self-right"><span class="float-end">999</span></div-->
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdownForm1">
    <h6>ASDFADSADSADSFA</h6>
    <div class="dropdown-divider"></div>
    <button type="button" ngbDropdownItem (click)="$event.stopPropagation(); myDrop.close();">New around here? Sign up</button>
    <button type="button" ngbDropdownItem>Forgot password?</button>
  </div>
</div>