<div class="card chat " [ngClass]="chat.selected ? ['selected'] : ''"  (click)="select(chat)">
  <div class="row g-0">
    <div class="col-md-2 position-relative">
      <img src="{{picUrl || '/assets/images/defuser.png'}}" class="img-fluid rounded-circle picurl position-absolute top-50 start-50 translate-middle" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="row ">
          <div class="col-md-8 p-0">
            <div class="card-title" >{{chat.name}}</div>

          </div>
          <div class="col-md-4">
            <div class="text-end p-0" [ngClass]="chat.unreadCount > 0 ? ['text-success', 'unreadCount'] : ''">{{ fch }}</div>
            <div class="float-end">
              <div class="rounded-pill bg-success text-white text-center" [hidden]="!chat.unreadCount" style="width: fit-content;padding-left: 6px;padding-right: 8px;font-weight: 600;"> {{chat.unreadCount}} </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pre>{{chat | json}}</pre-->
