<input class="g-3"
[(ngModel)]="Selected"
[ngModelOptions]="{standalone: true}"
typeaheadOptionField="name"
[typeahead]="Source$"
[typeaheadAsync]="true"
[typeaheadMinLength]="0"
[typeaheadWaitMs]="700"
[typeaheadScrollable]="true"
[typeaheadSelectFirstItem]="false"
[typeaheadOptionsInScrollableView]="10"
[typeaheadOptionsLimit]="100"
(typeaheadOnSelect)="onSelect($event)"
(typeaheadLoading)="changeLoading($event)"
(typeaheadNoResults)="typeaheadNoResults($event)"
placeholder="{{placeholder}}"
>
