<input class="g-3"
class="form-control"
[(ngModel)]="Selected"
[ngModelOptions]="{standalone: true}"
typeaheadOptionField="name"
selectItemOnBlur="true"
[typeahead]="Source$"
[typeaheadAsync]="true"
[typeaheadMinLength]="0"
[typeaheadWaitMs]="700"
[typeaheadScrollable]="true"
[typeaheadSelectFirstItem]="true"
[typeaheadOptionsInScrollableView]="10"
[typeaheadOptionsLimit]="100"
(typeaheadOnSelect)="onSelect($event)"
(typeaheadLoading)="changeLoading($event)"
(typeaheadNoResults)="typeaheadNoResults($event)"
placeholder="{{placeholder}}"
(blur)="onBlur()"
>
