  <ng-container *ngIf="ready">
    <select name="" id="">
      <option value="Producto">Producto</option>
      <option value="Servicio">Servicio</option>
      <option value="Manufacturado">Manufacturado</option>
    </select>
    <app-articulos-typeahead-add
      [field]="'rubro'"
      [addUrl]="'/rubro'"
      [readUrl]="'/rubros'"
      [placeholder]="'Rubro'"
      [regItem]="regData.rubro"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'linea'"
      [addUrl]="'/linea'"
      [readUrl]="'/lineas'"
      [placeholder]="'Linea'"
      [regItem]="regData.linea"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'fabricante'"
      [addUrl]="'/fabricante'"
      [readUrl]="'/fabricantes'"
      [placeholder]="'Fabricante'"
      [regItem]="regData.fabricante"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'marca'"
      [addUrl]="'/marca'"
      [readUrl]="'/marcas'"
      [placeholder]="'Marca'"
      [regItem]="regData.marca"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'modelo'"
      [addUrl]="'/modelo'"
      [readUrl]="'/modelos'"
      [placeholder]="'Modelo'"
      [regItem]="regData.modelo"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'especie'"
      [addUrl]="'/especie'"
      [readUrl]="'/especies'"
      [placeholder]="'Especie'"
      [regItem]="regData.especie"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'edad'"
      [addUrl]="'/edad'"
      [readUrl]="'/edades'"
      [placeholder]="'Edad'"
      [regItem]="regData.edad"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <app-articulos-typeahead-add
      [field]="'talla'"
      [addUrl]="'/talla'"
      [readUrl]="'/tallas'"
      [placeholder]="'Talla'"
      [regItem]="regData.talla"
      (changeValue)="changeField($event)"
    ></app-articulos-typeahead-add>
    <input
      type="text"
      name="name"
      [(ngModel)]="regData.name"
    >
    <app-articulos-sortable-name
      [data]="regData"
      [reset]="resetSortableSubject.asObservable()"
      (dataChange)="dataChange($event)"
    ></app-articulos-sortable-name>
  </ng-container>
