.full-height {
  height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}
.card {
  --bs-card-border-color: unset;
}
.fa-bounce {
  animation-name: fa-bounce;
  animation-delay: var(--fa-animation-delay, 0s);
  animation-direction: var(--fa-animation-direction, normal);
  animation-duration: var(--fa-animation-duration, 2s);
  animation-iteration-count: var(--fa-animation-iteration-count, infinite);
  animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
}
