<div class="modal-header">
  <div class='d-flex flex-column w-100 bd-highlight'>
    <h4 class="modal-title" id="modal-basic-title">
      <span *ngIf="articulo.d_fabricante">{{articulo.fabricante}} </span>
      <span *ngIf="articulo.d_marca">{{articulo.marca}} </span>
      <span>{{articulo.name}} </span>
      <span *ngIf="articulo.d_especie">{{articulo.especie}} </span>
      <span *ngIf="articulo.d_edad">{{articulo.edad}} </span>
      <span *ngIf="articulo.d_raza">{{articulo.raza}} </span>
      <span *ngIf="articulo.d_rubro">{{articulo.rubro}} </span>
      <span *ngIf="articulo.d_linea">{{articulo.linea}} </span>
    </h4>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
    <li [ngbNavItem]="1">
      <a ngbNavLink><b>Articulo</b></a>
      <ng-template ngbNavContent>
        <app-articulo-form-articulo-edit
          [articulo]="articulo"
        >
        </app-articulo-form-articulo-edit>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink><b>Descripción</b></a>
      <ng-template ngbNavContent>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="articulo.detalles"></textarea>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink><b>Beneficios</b></a>
      <ng-template ngbNavContent>
        <app-articulo-form-extradata-edit
          [dato]="'beneficio'"
          [extradata] = "articulo.extradata"
        ></app-articulo-form-extradata-edit>
        <!--div class="row col-6 offset-3">
          <table>
            <thead>
              <th>#</th>
              <th>Descripción</th>
              <th>Valor</th>
              <th>Mostrar</th>
              <th>boton</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of Articulo.beneficios; index as i;" class="">
                <td>{{i}}</td>
                <td>
                  <input type="text" name="bname_{{i}}" [(ngModel)]="item.name">
                </td>
                <td>
                  <input type='checkbox' name="bshowname_{{i}}" [(ngModel)]="item.showname">
                </td>
                <td>
                  <input type="text" name="bvalue_{{i}}" [(ngModel)]="item.value">
                </td>
                <td>
                  <input type='checkbox' name="bshow_{{i}}" [(ngModel)]="item.showvalue">
                </td>
                <td><button class='btn btn-outline-danger' (click)='borraBeneficio(i)'><i class="fas fa-trash-alt"></i></button></td>
              </tr>
              <tr class="">
                <td></td>
                <td>
                  <input type="text" name="new_bname" [(ngModel)]="newBeneficios.name">
                </td>
                <td>
                  <input type='checkbox' name="new_bshowname" [(ngModel)]="newBeneficios.showname">
                </td>
                <td>
                  <input type="text" name="new_bvalue" [(ngModel)]="newBeneficios.value">
                </td>
                <td>
                  <input type='checkbox' name="new_bshowvalue" [(ngModel)]="newBeneficios.showvalue">
                </td>
                <td><button class='btn btn-outline-primary' (click)='addBeneficios()'><i class="fas fa-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div-->
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink><b>Fórmula</b></a>
      <ng-template ngbNavContent>
        <app-articulo-form-extradata-edit
          [dato]="'formula'"
          [extradata] = "articulo.extradata"
        ></app-articulo-form-extradata-edit>
        <!--div class="row col-6 offset-3">
          <table>
            <thead>
              <th>#</th>
              <th>Descripción</th>
              <th>Valor</th>
              <th>Mostrar</th>
              <th><button *ngIf="selectedArticulo.formula.length === 0" (click)="setformulatempate()">Default</button>&nbsp;</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedArticulo.formula; index as i;" class="">
                <td>{{i}}</td>
                <td>
                  <input type="text" name="name_{{i}}" [(ngModel)]="item.name">
                </td>
                <td>
                  <input type='checkbox' name="shwowname_{{i}}" [(ngModel)]="item.showname">
                </td>
                <td>
                  <input type="text" name="value_{{i}}" [(ngModel)]="item.value">
                </td>
                <td>
                  <input type='checkbox' name="show_{{i}}" [(ngModel)]="item.showvalue">
                </td>
                <td><button class='btn btn-outline-danger' (click)='borraFormula(i)'><i class="fas fa-trash-alt"></i></button></td>
              </tr>
              <tr class="">
                <td></td>
                <td>
                  <input type="text" name="new_name" [(ngModel)]="newFormula.name">
                </td>
                <td>
                  <input type='checkbox' name="new_showname" [(ngModel)]="newFormula.showname">
                </td>
                <td>
                  <input type="text" name="new_value" [(ngModel)]="newFormula.value">
                </td>
                <td>
                  <input type='checkbox' name="new_showvalue" [(ngModel)]="newFormula.showvalue">
                </td>
                <td><button class='btn btn-outline-primary' (click)='addFormula()'><i class="fas fa-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div-->
      </ng-template>
    </li>
    <li [ngbNavItem]="5" class="mr-auto">
      <a ngbNavLink><b>Presentaciones</b></a>
      <ng-template ngbNavContent>
        <!--div class="d-flex">
          <button class="btn btn-info ml-auto mb-2" (click)="add_producto()">add</button>
        </div-->
        <app-articulo-form-presentaciones-edit
          *ngFor="let presentacion of articulo.presentaciones;index as i;"
          [presentacion]='presentacion'
          [articulo]="articulo"
          [unidades]='unidades'
          [idx]='i'
        ></app-articulo-form-presentaciones-edit>
      </ng-template>
    </li>
    <li [ngbNavItem]="6" class="mr-auto">
      <a ngbNavLink><b>Proveedores</b></a>
      <ng-template ngbNavContent>
        <!--div class="d-flex">
          <button class="btn btn-info ml-auto mb-2" (click)="add_producto()">add</button>
        </div-->
        <!--app-presentaciones-form-edit
          *ngFor="let presentacion of Articulo.presentaciones;index as i;"
          [presentacion]='presentacion'
          [articulo]="Articulo"
          [unidades]='unidades'
          [idx]='i'
        ></app-presentaciones-form-edit-->
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<!--div class="row">
  <div class="col-xs-6 col-6 col-md-5 col-lg-3">
    <bs-sortable
      [(ngModel)]="itemObjectsLeft"
      fieldName="name"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="Drag here"
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
    ></bs-sortable>
  </div>
  <div class="col-xs-6 col-6 col-md-5 col-lg-3">
    <bs-sortable
      [(ngModel)]="itemObjectsRight"
      fieldName="name"
      itemClass="sortable-item"
      itemActiveClass="sortable-item-active"
      placeholderItem="Drag here"
      placeholderClass="placeholderStyle text-center"
      wrapperClass="sortable-wrapper"
    ></bs-sortable>
  </div>
</div>
 
<div class='row'>
  <div class="col-xs-6 col-6 col-md-5 col-lg-3">
    <pre class="code-preview">model: {{ itemObjectsLeft | json }}</pre>
  </div>
 
  <div class="col-xs-6 col-6 col-md-5 col-lg-3">
    <pre class="code-preview">model: {{ itemObjectsRight | json }}</pre>
  </div>
</div>
<pre>{{Articulo | json }}</pre-->
