  <!--header>Header</header-->
  <div id="main">
    <article >
      <div *ngIf="isEncaPage" class="enca-page">
        Info Selected
      </div>
      <div class="lista" [ngClass]="{'menos-enca': isEncaPage}">
        <router-outlet/>
      </div>
    </article>
    <nav>
      <div *ngIf="isEncaMenu" class="enca-menu">
        <h2>Home User</h2>
      </div>
      <div class="lista" [ngClass]="{'menos-enca': isEncaMenu}">
        <app-v-menu/>
      </div>
    </nav>
    <!--aside>Aside</aside-->
  </div>
  <!--footer>Footer</footer-->

<!--router-outlet/-->
