<pre class="card card-block card-header">Model: {{ search | json }}</pre>
 
<input [(ngModel)]="search"
       typeaheadOptionField="login"
       [typeahead]="suggestions$"
       [typeaheadAsync]="true"
       class="form-control"
       placeholder="Enter GitHub username">
 
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<pre class="card card-block card-header">Model: {{ asyncSelected | json }}</pre>
 
<input [(ngModel)]="asyncSelected"
       [typeahead]="dataSource"
       [typeaheadAsync]="true"
       typeaheadOptionField="name"
       (typeaheadLoading)="changeTypeaheadLoading($event)"
       placeholder="Locations loaded via observable"
       class="form-control">