<input [(ngModel)]="fabricanteSelected"
       typeaheadOptionField="name"
       [typeahead]="fabricanteSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="0"
       [typeaheadWaitMs]="700"
       (typeaheadOnSelect)="onFabricanteSelect($event)"
       (typeaheadOnPreview)="onFabricantePreview($event)"
       (typeaheadLoading)="changeFabricanteLoading($event)"
       placeholder="Fabricante"
       >
<input [(ngModel)]="marcaSelected"
       typeaheadOptionField="name"
       [typeahead]="marcaSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="0"
       [typeaheadWaitMs]="700"
       (typeaheadOnSelect)="onMarcaSelect($event)"
       (typeaheadOnPreview)="onMarcaPreview($event)"
       (typeaheadLoading)="changeMarcaLoading($event)"
       placeholder="Marca"
       >
<input [(ngModel)]="articuloSelected"
       typeaheadOptionField="fullname"
       [typeahead]="articuloSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="2"
       [typeaheadWaitMs]="700"
       (typeaheadOnSelect)="onArticuloSelect($event)"
       (typeaheadOnPreview)="onArticuloPreview($event)"
       (typeaheadLoading)="changeArticuloLoading($event)"
       placeholder="Articulo"
       >
<input [(ngModel)]="prodNameSelected"
       typeaheadOptionField="fullname"
       [typeahead]="prodNameSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="2"
       [typeaheadWaitMs]="700"
       (typeaheadOnSelect)="onProdNameSelect($event)"
       (typeaheadOnPreview)="onProdNamePreview($event)"
       (typeaheadLoading)="changeProdNameLoading($event)"
       placeholder="ProdName"
       >
