<ng-template #customItemTemplate let-model="item" let-index="index">
    <div class="row">
      <div class="col-6">{{model._id}}</div>
      <div class="col-6">{{model.fullname}}</div>
    </div>
</ng-template>

<input [(ngModel)]="fabricanteSelected"
       typeaheadOptionField="name"
       [typeahead]="fabricanteSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="0"
       [typeaheadWaitMs]="700"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="10"
       [typeaheadOptionsLimit]="100"
       (typeaheadOnSelect)="onFabricanteSelect($event)"
       (typeaheadOnPreview)="onFabricantePreview($event)"
       (typeaheadLoading)="changeFabricanteLoading($event)"
       placeholder="Fabricante"
       >
<input [(ngModel)]="marcaSelected"
       typeaheadOptionField="name"
       typeaheadGroupField="fabricante.name"
       [typeahead]="marcaSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="0"
       [typeaheadWaitMs]="700"
       [typeaheadOptionsLimit]="100"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="30"

       (typeaheadOnSelect)="onMarcaSelect($event)"
       (typeaheadOnPreview)="onMarcaPreview($event)"
       (typeaheadLoading)="changeMarcaLoading($event)"
       placeholder="Marca"
       >
<input [(ngModel)]="articuloSelected"
       typeaheadOptionField="fullname"
       typeaheadGroupField="marca"
       [typeaheadOrderBy]="articuloSort"
       [typeahead]="articuloSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="0"
       [typeaheadWaitMs]="700"
       [typeaheadScrollable]="true"
       [typeaheadOptionsInScrollableView]="10"
       [typeaheadItemTemplate]="customItemTemplate"
       [typeaheadOptionsLimit]="100"
       (typeaheadOnSelect)="onArticuloSelect($event)"
       (typeaheadOnPreview)="onArticuloPreview($event)"
       (typeaheadLoading)="changeArticuloLoading($event)"
       placeholder="Articulo"
       >
<!--input [(ngModel)]="prodNameSelected"
       typeaheadOptionField="fullname"
       [typeaheadItemTemplate]="customItemTemplate"
       [typeahead]="prodNameSource$"
       [typeaheadAsync]="true"
       [typeaheadMinLength]="2"
       [typeaheadWaitMs]="700"
       (typeaheadOnSelect)="onProdNameSelect($event)"
       (typeaheadOnPreview)="onProdNamePreview($event)"
       (typeaheadLoading)="changeProdNameLoading($event)"
       placeholder="ProdName"
-->
<input name="filtro" [(ngModel)]="filtro" placeholder="filtro">
<button *ngIf="newData.length" (click)="addSelected()">Add Selected</button>
<div class="container">
  <div class="mb-2" *ngIf="max">
    <progressbar [max]="max" [value]="dynamic">
      <span class="text-nowrap">{{dynamic}} / {{max}}</span>
    </progressbar>
  </div>
  <table *ngIf="newData.length; else viewProvProduct">
    <tr>
      <!--td></td-->
      <td></td>
      <td>
        <input [(ngModel)]="allNewValue" type="checkbox" name="default" (change)="toggleAll(newData,allNewValue)" />
      </td>
    </tr>
    <tr *ngFor="let item of newData | prodNameFilter: filtro; index as i">
      <!--td>{{item.articulo}}</td-->
      <td>{{item.fullname}} </td>
      <td>
        <input [(ngModel)]="item.isSelected" type="checkbox" name="isSelected_{{i}}" />
      </td>
    </tr>
  </table>
  <ng-template #viewProvProduct>
    <div class="container">
      <button (click)="removeSelected()">Remove Selected</button>
      <table whidt="100%" *ngIf="newData.length === 0">
        <tr>
          <!--td></td-->
          <td></td>
          <td>
            <input [(ngModel)]="allProvValue" type="checkbox" name="default" (change)="toggleAll(provData,allProvValue)" />
          </td>
        </tr>
        <tr *ngFor="let item of provData | prodNameFilter: filtro;index as i">
          <!--td>{{item.articulo}}</td-->
          <td>{{item.fullname}} </td>
          <td>
            <input [(ngModel)]="item.isSelected" type="checkbox" name="isSelected_{{i}}" />
          </td>
        </tr>
      </table>
    </div>
  </ng-template>

</div>
