<h3 class="text-center">{{rtData.title}}</h3>
<div class="container">
<form [formGroup]="form" class="mb-3">
  <!--pre><code>{{form.getRawValue() | json }}</code></pre-->
  <div class="mb-3">
    <label
      for="_id"
      class="form-label">
      id
    </label>
    <input
      type="text"
      id="_id"
      class="form-control"
      formControlName="_id"
      placeholder="PlaceHolder">
  </div>
  <div class="mb-3">
    <label
      for="name"
      class="form-label">
      Nombre
    </label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
      placeholder="PlaceHolder">
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary" (click)="addImage()">Agregar Imagen</button>
      <div class="images"
        formArrayName="images"
        *ngFor="let item of images; let i = index">
        <form
          class="row g-3"
          [formGroupName]="i">
          <div class="row">
            <div class="col-auto">
              <img src="{{ item.value.url }}" style='height: 64px; width: auto;' alt="">
            </div>
            <div class="col-6">
              <div class="">
                <label for="url">url</label>
                <input
                  id="url"
                  type="text"
                  class="form-control"
                  formControlName="url"
                  placeholder="imagen url">
              </div>
            </div>
            <div class="col-auto">
              <div class="btn btn-danger">Borra</div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="addIcon()">Agregar Icono</button>
      <div class="icons"
        formArrayName="icons"
        *ngFor="let item of icons; index as i">
        <form
          class="row g-3"
          [formGroupName]="i">
          <div class="">
            <label for="tag">icon tag</label>
            <input
              id="tag"
              type="text"
              class="form-control"
              formControlName="tag"
              placeholder="icon">
          </div>
        </form>
      </div>
    </div>
  </div>
</form>
<button class="btn btn-primary" (click)="grabar()" >Grabar</button>
<button class="btn btn-secondary" (click)="cancelar()" >Cancelar</button>
</div>
