<!--div class="container">
  <div class="card mt-5">
    <h3 class="card-header">Registro de usuario</h3>
    <div class="card-body">
<form class="row g-3">
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Clave</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div class="col-md-6">
    <label for="inputRePassword" class="form-label">Reescriba la Clave</label>
    <input type="password" class="form-control" id="inputRePassword">
  </div>
  <hr/>
  <div class="col-md-6">
    <label for="inputNombre" class="form-label">Nombres</label>
    <input type="text" class="form-control" id="inputNombe">
  </div>
  <div class="col-md-6">
    <label for="inputApellido" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="inputApellido">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Dirección</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-6">
    <label for="inputAddress2" class="form-label">Datos extras de la Dirección</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-6">
    <label for="inputPhone" class="form-label">Teléfono/Celular</label>
    <input type="text" class="form-control" id="inputPhone" placeholder="Ej.: 3624683656">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Provincia</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Código Postal</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <button type="submit" [hidden]="formParent.invalid" class="btn btn-primary btn-lg float-end"
    (click)="enviar()">Registrarse</button>
</div>
</form>
</div>
</div>
</div-->
<div class="container">
  <div class="d-flex justify-content-center align-items-centerc">
    <div class="col-6 mt-5">
      <div class="card">
        <h3 class="card-header">Registro de usuario</h3>
        <div class="card-body">

          <form class="need-validation" [formGroup]="formParent">
            <div class="mb-3 form-field">
              <label class="form-label">Nombres</label>
              <input type="text" class="form-control" placeholder="Ej: Juan" formControlName="nombre"
                [ngClass]="{'is-invalid': isInvalid('name')}" />
              <div class="invalid-feedback">
              <!--
                para debug
                {{formParent.get('name')?.errors | json}}
              -->
                <ul>
                  <li *ngIf="formParent.get('nombre')?.errors?.['required']">El campo no puede quedar vacio</li>
                  <li *ngIf="formParent.get('nombre')?.errors?.['minlength']">La longitud mínima es de
                    {{formParent.get('nombre')?.errors?.['minlength'].requiredLength}} caracteres solo tiene
                    {{formParent.get('nombre')?.errors?.['minlength'].actualLength}}</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Apellido</label>
              <input type="text" class="form-control" placeholder="Ej: Perez" formControlName="apellido"
                [ngClass]="{'is-invalid': isInvalid('nombre')}" />
              <div class="invalid-feedback">
              <!--
                para debug
                {{formParent.get('name')?.errors | json}}
              -->
                <ul>
                  <li *ngIf="formParent.get('name')?.errors?.['required']">El campo no puede quedar vacio</li>
                  <li *ngIf="formParent.get('name')?.errors?.['minlength']">La longitud mínima es de
                    {{formParent.get('name')?.errors?.['minlength'].requiredLength}} caracteres solo tiene
                    {{formParent.get('name')?.errors?.['minlength'].actualLength}}</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" placeholder="Ej: name@example.com" formControlName="email"
                [ngClass]="{ 'is-invalid': isInvalid('email') }" />
              <div class="invalid-feedback">
              <!--
                para debug
                {{formParent.get('email')?.errors | json}}

                <li>{{formParent.get('email')?.errors | json}}</li>
              -->
                <ul>
                  <li *ngIf="formParent.get('email')?.errors?.['required']">El campo no puede quedar vacio</li>
                  <li *ngIf="formParent.get('email')?.errors?.['pattern']">
                    {{formParent.get('email')?.errors?.['pattern'].actualValue}} no parece ser un e-Mail real</li>
                  <li *ngIf="formParent.get('email')?.errors?.['uniqueAlterEgo']">Este e-Mail ya se encuentra
                    registrado</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Clave</label>
              <input type="password" class="form-control" placeholder="Escriba una clave" formControlName="password"
                [ngClass]="{ 'is-invalid': isInvalid('password') }" />
              <div class="invalid-feedback">
                <!--
            para debug
            {{formParent.get('email')?.errors | json}}
            -->
                <ul>
                  <li *ngIf="formParent.get('password')?.errors?.['required']">No puede quedar en blanco y deben ser
                    al menos seis caracteres</li>
                  <li *ngIf="formParent.get('password')?.errors?.['minlength']">Deben ser al menos
                    {{formParent.get('password')?.errors?.['minlength'].requiredLength}} caracteres y tiene
                    {{formParent.get('password')?.errors?.['minlength'].actualLength}}</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Vuelva a escribir la clave</label>
              <input type="password" class="form-control" placeholder="Escriba nuevamente la clave"
                formControlName="repassword" [ngClass]="{ 'is-invalid': isInvalid('repassword') }" />
              <div class="invalid-feedback">
                <!--
            para debug
              <li>{{formParent.get('repassword')?.errors | json}}</li>
            -->
                <ul>
                  <li *ngIf="formParent.get('repassword')?.errors?.['required']">No puede quedar en blanco y debe
                    coincidir con la clave</li>
                  <li *ngIf="formParent.get('repassword')?.errors?.['matchPassword']">Debe cpincidir con la clave</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Nro Celular</label>
              <input type="text" class="form-control" placeholder="Ej: 5493624683356" formControlName="phone"
                [ngClass]="{ 'is-invalid': isInvalid('phone') }" />
              <div class="invalid-feedback">
                <!--
              para debug
            {{formParent.get('phone')?.errors | json}}
            {{formParent.get('phone')?.errors | json}}
            -->
                <ul>
                  <li *ngIf="formParent.get('phone')?.errors?.['minlength']">Deben ser
                    {{formParent.get('phone')?.errors?.['minlength'].requiredLength}} números y tiene
                    {{formParent.get('phone')?.errors?.['minlength'].actualLength}}</li>
                  <li *ngIf="formParent.get('phone')?.errors?.['maxlength']">Deben ser
                    {{formParent.get('phone')?.errors?.['maxlength'].requiredLength}} números y tiene
                    {{formParent.get('phone')?.errors?.['maxlength'].actualLength}}</li>
                  <li *ngIf="formParent.get('phone')?.errors?.['pattern']">Deben ser sólo números y tiene
                    {{formParent.get('phone')?.errors?.['pattern'].actualValue}}</li>

                </ul>
              </div>
            </div>
          </form>
          <div class="">
            <button type="submit" [hidden]="formParent.invalid" class="btn btn-primary btn-lg float-end"
              (click)="enviar()">Registrarse</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
            para debug
<pre>
  dirty {{formParent.dirty | json}}
</pre>
<pre>
  touched {{formParent.touched | json}}
</pre>

<pre>
  status {{formParent.status | json}}
</pre>
<pre>
  value {{formParent.value | json}}
</pre>
-->
