<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-6 mt-5">
      <div class="card">
        <h3 class="card-header">Cambia Clave para {{_loggedUser().email}}</h3>
        <div class="card-body">
          <form class="need-validation" [formGroup]="formParent">
            <div class="mb-3 form-field">
              <label class="form-label">Clave Actual</label>
              <input type="password"
                class="form-control"
                placeholder="Escriba clave actual"
                formControlName="oldpassword"
                [ngClass]="{ 'is-invalid': isInvalid('oldpassword') }"
              />
              <div class="invalid-feedback">
                <!--
                para debug
                {{formParent.get('email')?.errors | json}}
                -->
                <ul>
                  <li *ngIf="formParent.get('oldpassword')?.errors?.['required']">No puede quedar en blanco</li>
                </ul>
              </div>
            </div>

            <div class="mb-3 form-field">
              <label class="form-label">Nueva Clave</label>
              <input type="password"
                class="form-control"
                placeholder="Escriba nueva clave"
                formControlName="password"
                [ngClass]="{ 'is-invalid': isInvalid('password') }"
              />
              <div class="invalid-feedback">
                <!--
                para debug
                {{formParent.get('email')?.errors | json}}
                -->
                <ul>
                  <li *ngIf="formParent.get('password')?.errors?.['required']">No puede quedar en blanco y deben ser
                    al menos seis caracteres</li>
                  <li *ngIf="formParent.get('password')?.errors?.['minlength']">Deben ser al menos
                    {{formParent.get('password')?.errors?.['minlength'].requiredLength}} caracteres y tiene
                    {{formParent.get('password')?.errors?.['minlength'].actualLength}}</li>
                </ul>
              </div>
            </div>
            <div class="mb-3 form-field">
              <label class="form-label">Vuelva a escribir la <strong>nueva</strong> clave</label>
              <input type="password"
                class="form-control"
                placeholder="Escriba nuevamente la nueva clave"
                formControlName="repassword"
                [ngClass]="{ 'is-invalid': isInvalid('repassword') }"
                 />
              <div class="invalid-feedback">
                <!--
                para debug
                <li>{{formParent.get('repassword')?.errors | json}}</li>
                -->
                <ul>
                  <li *ngIf="formParent.get('repassword')?.errors?.['required']">No puede quedar en blanco y debe
                    coincidir con la clave</li>
                  <li *ngIf="formParent.get('repassword')?.errors?.['matchPassword']">Debe coincidir con la nueva clave</li>
                </ul>
              </div>
            </div>
          </form>
          <div class="">
            <button type="submit"
              [hidden]="formParent.invalid"
              class="btn btn-primary btn-lg float-end"
              (click)="enviar()">Cambiar la Clave</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
