<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class="row">
    <!--div class="col-6">{{model._id}}</div-->
    <div class="col">{{model.fullname}}</div>
  </div>
</ng-template>
<input [(ngModel)]="fabricanteSelected"
     typeaheadOptionField="name"
     [typeahead]="fabricanteSource$"
     [typeaheadAsync]="true"
     [typeaheadMinLength]="0"
     [typeaheadWaitMs]="700"
     [typeaheadScrollable]="true"
     [typeaheadOptionsInScrollableView]="10"
     [typeaheadOptionsLimit]="100"
     (typeaheadOnSelect)="onFabricanteSelect($event)"
     (typeaheadOnPreview)="onFabricantePreview($event)"
     (typeaheadLoading)="changeFabricanteLoading($event)"
     placeholder="Fabricante"
     >
<!--form [formGroup]="myForm">
<input formControlName="marca"-->
<input
  [(ngModel)]="marcaSelected"
  typeaheadOptionField="name"
  typeaheadGroupField="fabricante.name"
  [typeahead]="marcaSource$"
  [typeaheadAsync]="true"
  [typeaheadMinLength]="0"
  [typeaheadWaitMs]="700"
  [typeaheadOptionsLimit]="100"
  [typeaheadScrollable]="true"
  [typeaheadOptionsInScrollableView]="30"

  (typeaheadOnSelect)="onMarcaSelect($event)"
  (typeaheadOnPreview)="onMarcaPreview($event)"
  (typeaheadLoading)="changeMarcaLoading($event)"
  placeholder="Marca"
>
<!--/form-->
  <input [(ngModel)]="articuloSelected"
     typeaheadOptionField="fullname"
     typeaheadGroupField="marca.name"
     [typeaheadOrderBy]="articuloSort"
     [typeahead]="articuloSource$"
     [typeaheadAsync]="true"
     [typeaheadMinLength]="0"
     [typeaheadWaitMs]="700"
     [typeaheadScrollable]="true"
     [typeaheadOptionsInScrollableView]="10"
     [typeaheadItemTemplate]="customItemTemplate"
     [typeaheadOptionsLimit]="100"
     (typeaheadOnSelect)="onArticuloSelect($event)"
     (typeaheadOnPreview)="onArticuloPreview($event)"
     (typeaheadLoading)="changeArticuloLoading($event)"
     placeholder="Articulo"
     >
<!--input [(ngModel)]="prodNameSelected"
     typeaheadOptionField="fullname"
     [typeaheadItemTemplate]="customItemTemplate"
     [typeahead]="prodNameSource$"
     [typeaheadAsync]="true"
     [typeaheadMinLength]="2"
     [typeaheadWaitMs]="700"
     (typeaheadOnSelect)="onProdNameSelect($event)"
     (typeaheadOnPreview)="onProdNamePreview($event)"
     (typeaheadLoading)="changeProdNameLoading($event)"
     placeholder="ProdName"
-->
<input name="filtro" [(ngModel)]="filtro" placeholder="filtro" (keyup)="unsetDefaultCheck()">
<button *ngIf="newData.length" (click)="addSelected()">Add Selected</button>
<button *ngIf="provData.length && !newData.length" (click)="removeSelected()">Remove Selected</button>
<div class="mb-2" *ngIf="max">
  <progressbar [max]="max" [value]="dynamic">
    <span class="text-nowrap">{{dynamic}} / {{max}}</span>
  </progressbar>
</div>
<div id="main" >
  <!--div class="container-fluid"-->
    <table whidt="100%" *ngIf="newData.length; else viewProvProduct">
      <tr>
        <!--td></td-->
        <td></td>
        <td>
          <input [(ngModel)]="allNewValue" type="checkbox" name="default" (change)="toggleAll(newData,allNewValue)" />
        </td>
      </tr>
      <tr *ngFor="let item of newData | prodNameFilter: filtro; index as i">
        <!--td>{{item.articulo}}</td-->
        <td>{{item.fullname}} </td>
        <td>
          <input *ngIf="newData.length" [(ngModel)]="item.isSelected" id="{{item._id}}" type="checkbox" name="toadd" />
        </td>
      </tr>
    </table>
  <!--/div-->
</div>
<ng-template #viewProvProduct>
  <!--div class="container-fluid"-->
    <table whidt="100%" *ngIf="newData.length === 0">
      <tr>
        <!--td></td-->
        <td></td>
        <td>
          <input *ngIf="provData.length" [(ngModel)]="allProvValue" type="checkbox" name="default" (change)="toggleAll(provData,allProvValue)" />
        </td>
      </tr>
      <tr *ngFor="let item of provData | prodNameFilter: filtro;index as i">
        <!--td>{{item.articulo}}</td-->
        <td>{{item.fullname}} </td>
        <td>
          <input [(ngModel)]="item.isSelected" id="{{item._id}}" type="checkbox" name="toadd" />
        </td>
      </tr>
    </table>
  <!--/div-->
</ng-template>

